.circle {
  height: 101px;
  width: 101px;
  background-color: #abf5d1;
  border-radius: 50%;
  display: inline-block;
}

.center {
  margin: auto;
  width: 40%;
  padding: 23%;
  color: #f2f7ff;
}

.registration-form-container {
  position: relative;
  width: 1000px;
  height: 600px;
}

.registration-form {
  display: inline-block;
  float: left;
  width: 70%;
}

.vl {
  border-left: 1px solid #828282;
  position: absolute;
  display: inline-block;
  height: 100%;
  text-align: center;
}
