.circle {
  height: 101px;
  width: 101px;
  background-color: #abf5d1;
  border-radius: 50%;
  display: inline-block;
}

.center {
  margin: auto;
  width: 40%;
  padding: 23%;
  color: #f2f7ff;
}

.registration-form-container {
  position: relative;
  width: 51.5625em;
  height: 31.25em;
  margin-left: 2.5em;
  margin-top: 2.5em;
  margin-bottom: 2.5em;
}

.registration-form {
  float: left;
  width: 65%;
}

.vl {
  border-left: 1px solid #bdbdbd;
  position: absolute;
  display: inline-block;
  height: 100%;
  text-align: center;
}
